body {
  background-image: url(../images/burger-hero.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

.container {
  background-color: #ffffff; }

.navbar-brand img {
  width: 100px; }

.mycontainer {
  display: flex;
  flex-direction: column; }

.mylogo {
  display: flex;
  justify-content: center;
  align-items: center; }

.myheroimg {
  width: 100%;
  height: 400px;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .myheroimg .myheroheader {
    color: #ffffff; }
    .myheroimg .myheroheader h3 {
      /* text-align: center; */
      font-size: 4em;
      color: #ffb700e6; }
      .myheroimg .myheroheader h3 p {
        font-size: 1.5em;
        /* text-align: center; */ }

.carousel {
  width: 100%;
  height: 50%; }
  .carousel .carousel-inner {
    width: 100%;
    height: 100%; }
    .carousel .carousel-inner .carousel-item {
      width: 100%;
      height: 100%; }
      .carousel .carousel-inner .carousel-item .myCarouselImg {
        width: 100%;
        height: 100%;
        background-position: bottom; }
